:host {
    --waterbox-stroke-width: 1;
    --waterbox-clip-edges: true;
    --waterbox-draw-front: true;
}

:host.alternative {
    --waterbox-water-fill-color: rgba(64, 64, 64, 0.8);
    --waterbox-water-fill-color-light: rgba(96, 96, 96, 0.8);
    --waterbox-water-fill-color-dark: rgba(32, 32, 32, 0.8);
    --waterbox-water-stroke-color: rgba(0, 0, 0, 0.8);
    --waterbox-stroke-width: 1;
    --waterbox-clip-edges: false;
    --waterbox-divisions: 2;
    --waterbox-separator-size: 50;
    --waterbox-draw-front: false;
}